$black: #1C1F22;
$dark-blue: #2C3136;
$lighter-dark-blue: #3E454C;
$blue: #1784C7;
$red: #FF7E66;
$white: #ecf0f1;

$button-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
