.post-box.friend
  article.post
    .shadow
      .post-content
        .thumbnail
              img.pure-img(src='//placehold.it/150x150/ff0000/f1f100', alt='')
          .full_name
              a(href='profile-page.html') Janusz Janusz
          
 
 
