.post-box.post-wide.pure-g
  .pure-u-1-5
    .thumbnail
      img.pure-img(src='http://placehold.it/125x125/2AC5BA/000000', alt='')
  .pure-u-4-5
    article.post
      .shadow
        .post-content
          header.post-header.pure-g
            .pure-u-5-5
              .full_name 
                a(href='') Janusz Janusz
              .date
                a(href='') 2015-12-12
          .post-img
            a(href="http://placehold.it/900x400/1D7E42/FFFFFF" data-featherlight="image")
              img.pure-img(src='http://placehold.it/900x400/1D7E42/FFFFFF', alt='')
          .post-main
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem eligendi praesentium, dolorum necessitatibus, odit quasi, dignissimos soluta nemo architecto quidem id accusamus iusto saepe tempore! Necessitatibus cumque explicabo,
              | repudiandae?
          .post-footer
            .attachment
              a.pure-button
                i.fa.fa-paperclip 
                span Plik 
            include ./comments.jade
