//width
$width-900: 900px;
$width-960: 960px;
$width-1000: 1000px;
$width-1140: 1140px;
$width-1366: 1366px;

//break point
$phone:375px;
$tablet: 769px;
$laptop: 1366px;

//margin
$center-margin: 0 auto;

//padding
$padding: 15px 0;
$padding-wrapper: 15px 10px 15px 10px;

//body
html,body {
  margin: 0px;
  padding: 0px;
}
