html, body {
  margin: 0px;
  padding: 0px;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

main:before, main:after {
  content: " ";
  display: table;
}
main:after {
  clear: both;
}
main {
  *zoom: 1;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  margin: 0 auto !important;
  padding: 0;
  position: relative;
  width: 1000px;
}

header.top {
  position: fixed;
  background: #2C3136;
  width: 100%;
  padding-right: 40px;
  clear: both;
  top: 0;
  z-index: 1000;
}
header.top .pure-menu-horizontal .pure-menu-list {
  float: right;
  right: 250px;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .thumbnail {
  padding: 0 10px;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .thumbnail img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0 auto;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .full_name {
  vertical-align: middle;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item a {
  padding: 13px 20px;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item a:hover, header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item a:focus {
  background: transparent;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .pure-menu-children {
  left: 75px;
  background: #1C1F22;
}

#main {
  padding-top: 100px;
}

.post-box {
  width: 300px;
}
.post-box .shadow {
  box-shadow: 2px 2px 14px 0 #E0E0E0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
.post-box article.post {
  padding: 15px 15px 15px 0;
}
.post-box article.post .post-content header.post-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 15px;
}
.post-box article.post .post-content header.post-header .thumbnail img {
  height: 45px;
  width: 45px;
  display: block;
  margin: 0 auto;
}
.post-box article.post .post-content header.post-header .full_name {
  padding-top: 4px;
}
.post-box article.post .post-content header.post-header .full_name a {
  font-size: 16px;
  font-size: 1rem;
  color: #1784C7;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: capitalize;
}
.post-box article.post .post-content header.post-header .date a {
  font-size: 10px;
  font-size: 0.625rem;
  padding: 0 10px;
  color: #3E454C;
  text-decoration: none;
}
.post-box article.post .post-content .post-main {
  color: #1C1F22;
  padding: 0px;
  margin: 0;
}
.post-box article.post .post-content .post-main p {
  padding: 15px;
  line-height: normal;
}

#menu {
  margin-left: -200px;
  /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #2C3136;
  overflow-y: auto;
}
#menu a {
  color: #F5F5F5;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}
#menu .pure-menu {
  border: none;
  background: transparent;
}
#menu .pure-menu .pure-menu-heading {
  padding: 18px 0;
  background: #1784C7;
  color: #F5F5F5;
  text-transform: none;
  text-align: center;
}
#menu .pure-menu ul {
  border: none;
  background: #1C1F22;
  padding: 18px 0;
}
#menu .pure-menu ul li {
  height: auto;
  padding: 3px 0;
}
#menu .pure-menu ul li a {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
  padding-left: 15px;
}
#menu .pure-menu ul li a span {
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
  color: #3E454C;
  padding-right: 15px;
}
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #3E454C;
}
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
  padding-left: 12px;
  border-left: 3px solid #1784C7;
  color: #F5F5F5;
  box-shadow: 0 2px 5px 0 black;
  background: #2C3136;
}
#menu .pure-menu li a:hover span, #menu .pure-menu li a:focus span {
  color: #1784C7;
}
#menu .add-post h2 {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  color: #3E454C;
  margin: 15px 0;
}
#menu .add-post .add-post-button-container {
  text-align: center;
  padding: 15px 0;
}
#menu .add-post .add-post-button-container .add-post-button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #1784C7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}
#menu .add-post .add-post-button-container .add-post-button:hover {
  background: #1a93de;
}

.header,
.content {
  padding-left: 2em;
  padding-right: 2em;
}

#layout {
  padding-left: 200px;
  left: 0;
}

#menu {
  left: 200px;
}

.menu-link {
  position: fixed;
  left: 200px;
  display: none;
}

#layout.active .menu-link {
  left: 200px;
}

main {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
