html, body {
  margin: 0px;
  padding: 0px;
}

main:before, main:after {
  content: " ";
  display: table;
}
main:after {
  clear: both;
}
main {
  *zoom: 1;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  margin: 0 auto !important;
  padding: 0;
  position: relative;
  width: 960px;
}

header.top {
  position: fixed;
  background: #2C3136;
  width: 100%;
  padding-right: 40px;
  clear: both;
  top: 0;
  z-index: 1000;
}
header.top .pure-menu-horizontal .pure-menu-list {
  float: right;
  right: 250px;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .thumbnail {
  padding: 0 10px;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .thumbnail img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0 auto;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .full_name {
  vertical-align: middle;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item a {
  padding: 13px 20px;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item a:hover, header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item a:focus {
  background: transparent;
}
header.top .pure-menu-horizontal .pure-menu-list li.pure-menu-item .pure-menu-children {
  left: 75px;
  background: #1C1F22;
}

#main {
  padding-top: 100px;
}

#menu {
  margin-left: -200px;
  /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #2C3136;
  overflow-y: auto;
}
#menu a {
  color: #F5F5F5;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}
#menu .pure-menu {
  border: none;
  background: transparent;
}
#menu .pure-menu .pure-menu-heading {
  padding: 18px 0;
  background: #1784C7;
  color: #F5F5F5;
  text-transform: none;
  text-align: center;
}
#menu .pure-menu ul {
  border: none;
  background: #1C1F22;
  padding: 18px 0;
}
#menu .pure-menu ul li {
  height: auto;
  padding: 3px 0;
}
#menu .pure-menu ul li a {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
  padding-left: 15px;
}
#menu .pure-menu ul li a span {
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
  color: #3E454C;
  padding-right: 15px;
}
#menu .pure-menu .menu-item-divided {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #3E454C;
}
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
  padding-left: 12px;
  border-left: 3px solid #1784C7;
  color: #F5F5F5;
  box-shadow: 0 2px 5px 0 black;
  background: #2C3136;
}
#menu .pure-menu li a:hover span, #menu .pure-menu li a:focus span {
  color: #1784C7;
}
#menu .add-post h2 {
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  color: #3E454C;
  margin: 15px 0;
}
#menu .add-post .add-post-button-container {
  text-align: center;
  padding: 15px 0;
}
#menu .add-post .add-post-button-container .add-post-button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #1784C7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}
#menu .add-post .add-post-button-container .add-post-button:hover {
  background: #1a93de;
}

.header,
.content {
  padding-left: 2em;
  padding-right: 2em;
}

#layout {
  padding-left: 200px;
  left: 0;
}

#menu {
  left: 200px;
}

.menu-link {
  position: fixed;
  left: 200px;
  display: none;
}

#layout.active .menu-link {
  left: 200px;
}

.form-box {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 300px;
  position: relative;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 14px 0 #E0E0E0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
.form-box header.logo {
  text-align: center;
  background: #1784C7;
}
.form-box header.logo h2 {
  font-family: inherit;
  font-weight: normal;
  color: #F5F5F5;
  margin: 0;
  padding: 20px 0;
}
.form-box .content {
  padding: 15px;
}
.form-box .content .pure-button {
  font-family: inherit;
  display: block;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
}
.form-box .content input[type="text"],
.form-box .content input[type="email"],
.form-box .content input[type="password"] {
  font-family: inherit;
  width: 100%;
}
.form-box .content label {
  font-family: inherit;
  color: #1C1F22;
  padding: 5px 0;
}

.single-post {
  margin: 0 auto;
}

.shadow {
  box-shadow: 2px 2px 14px 0 #E0E0E0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.post-box {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 300px;
}
.post-box.post-wide {
  width: 900px;
}
.post-box.post-wide .thumbnail {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 125px;
}
.post-box.post-wide .thumbnail img {
  display: block;
  border-radius: 20px;
}
.post-box article.post {
  padding: 0px 15px 15px 0;
}
.post-box article.post .post-content header.post-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 15px;
}
.post-box article.post .post-content header.post-header .thumbnail {
  height: 45px;
  width: 45px;
}
.post-box article.post .post-content header.post-header .thumbnail img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.post-box article.post .post-content header.post-header .full_name {
  padding-top: 4px;
}
.post-box article.post .post-content header.post-header .full_name a {
  font-size: 16px;
  font-size: 1rem;
  color: #1784C7;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: inherit;
}
.post-box article.post .post-content header.post-header .date a {
  font-size: 10px;
  font-size: 0.625rem;
  padding: 0 10px;
  color: #3E454C;
  text-decoration: none;
  font-family: inherit;
}
.post-box article.post .post-content .post-main {
  color: #1C1F22;
  padding: 0;
  margin: 0;
}
.post-box article.post .post-content .post-main p {
  padding: 15px;
  line-height: normal;
}

.profile-page {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
.profile-page .profile-info {
  width: 175px;
}
.profile-page .profile-info .full_name {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid gainsboro;
}
.profile-page .profile-info .full_name span {
  color: #1784C7;
  text-transform: capitalize;
}
.profile-page .profile-info .thumbnail {
  display: block;
  margin: 0 auto;
}
.profile-page .profile-info .profile-user-info {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 15px;
  color: #1C1F22;
}
.profile-page .post-box {
  width: 375px;
}

.add-edit-post {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.add-edit-post .post-box {
  margin: 0 auto;
}
.add-edit-post .post-content {
  padding: 15px;
}
.add-edit-post .post-l-wide {
  width: 600px;
}
.add-edit-post .post-main {
  margin: 15px auto;
}
.add-edit-post .post-main textarea {
  width: 96%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #1784C7;
  padding: 10px;
}
.add-edit-post .post-footer {
  margin: 15px auto;
}
.add-edit-post .post-footer input[type="file"] {
  padding: 10px 0;
}
.add-edit-post .post-footer .attachment-file, .add-edit-post .post-footer .attachment-img {
  padding: 10px 0;
  border-bottom: 1px solid gainsboro;
}
.add-edit-post .post-footer .attachment-file span, .add-edit-post .post-footer .attachment-img span {
  font-size: 14px;
  font-size: 0.875rem;
  color: #1C1F22;
  display: block;
}
.add-edit-post .post-footer .post-submit {
  padding: 10px;
}
.add-edit-post .post-footer .post-submit input {
  display: block;
  width: 150px;
  margin: 0 auto;
}

main {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
