doctype html
html
  include ./module/head.jade
  body    
    #layout
      include ./module/sidebar.jade
      include ./module/top-menu.jade

      #main
        .wrapper
          .header
          
        include ./module/post.jade


      script(src='js/app/grid.js')

      include ./module/footer.jade
