.form-box
  header.logo
    h2 OkonBOOK
  .content
    form.pure-form.pure-form-stacked
      fieldset
        p
          label(for='email') Email
          input#email(type='email', placeholder='Email')
        p
          label(for='password') Password
          input#password(type='password', placeholder='Password')
        button.pure-button.pure-button-primary(type='submit') Sign in

            
