.form-box
  header.logo
    h2 OkonBOOK
  .content
    form.pure-form.pure-form-stacked
      fieldset
        p
          label(for='first_name') First Name
          input#first_name(type='text', placeholder='First Name' name='first_name')
        p
          label(for='last_name') Last Name
          input#last_name(type='text', placeholder='Last Name' name='last_name')
        p
          label(for='profile_name') Profile Name
          input#first_name(type='text', placeholder='Profile Name' name='profile_name')
        p
          label(for='email') E-mail
          input#first_name(type='email', placeholder='E-mail' name='email')
        p
          label(for='password') Password
          input#password(type='password', placeholder='Password')
        p
          label(for='password_confirmation') Password Confirmation
          input#password_confirmation(type='password', placeholder='Password Confirmation')
  
        button.pure-button.pure-button-primary(type='submit') Register
