#menu
  .pure-menu
    a.pure-menu-heading(href='#') OkonBOOK
    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href='#')
          span
            i.fa.fa-picture-o
          |  Images
        li.pure-menu-item
          a.pure-menu-link(href='#')
            span
              i.fa.fa-files-o
            |  Files

      li.pure-menu-item
        a.pure-menu-link(href='#')
          span
            i.fa.fa-users
          |  Friends
          
    //      
      li.pure-menu-item.menu-item-divided.pure-menu-selected
        a.pure-menu-link(href='#') Services
      li.pure-menu-item
        a.pure-menu-link(href='#') Contact
    .add-post
      h2 How are you ?
      .add-post-button-container
        a.add-post-button(href='') Add Post
