#menu
  .pure-menu
    a.pure-menu-heading(href='#') OkonBOOK
    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href='#')
          span
            i.fa.fa-hashtag
          |  Home
      li.pure-menu-item
        a.pure-menu-link(href='#')
          span
            i.fa.fa-hashtag
          |  About
      li.pure-menu-item.menu-item-divided.pure-menu-selected
        a.pure-menu-link(href='#') Services
      li.pure-menu-item
        a.pure-menu-link(href='#') Contact
    .add-post
      h2 How are you ?
      .add-post-button-container
        a.add-post-button(href='') Add Post
