.post-box.grid-item
  article.post
    .shadow
      .post-content
        header.post-header.pure-g
          .pure-u-1-5
            .thumbnail
              img.pure-img(src='http://placehold.it/45x45/2AC5BA/000000', alt='')
          .pure-u-4-5
            .full_name
              a(href='profile-page.html') Janusz Janusz
            .date
              a(href='single-post.html') 2015-12-12
        .post-img
          img.pure-img(src='http://placehold.it/900x400/1D7E42/FFFFFF', alt='')
        .post-main
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem eligendi praesentium, dolorum necessitatibus, odit quasi, dignissimos soluta nemo architecto quidem id accusamus iusto saepe tempore! Necessitatibus cumque explicabo,
            | repudiandae?
