header.top
  .pure-menu.pure-menu-horizontal
    ul.pure-menu-list
      li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
        a#menuLink1.pure-menu-link(href='#')
          span.thumbnail
            img(src='http://placehold.it/30x30/B2FA1B/000000', alt='')
          span.full_name
            | Janusz Janusz
        ul.pure-menu-children
          li.pure-menu-item
            a.pure-menu-link(href='#')
              span
                i.fa.fa-sign-out
              |  Logout
          li.pure-menu-item
            a.pure-menu-link(href='#')
              span
                i.fa.fa-user
              |  Profile
