.form-box {
  font-family: $open-sans;
  width: 300px;
  position: relative;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 14px 0 #E0E0E0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  header.logo {
    text-align: center;
    background: $blue;
    h2 {
      font-family: inherit;
      font-weight: normal;
      color: $white;
      margin: 0;
      padding: 20px 0;
    }
  }
  .content {
    padding: 15px;
    .pure-button {
      font-family: inherit;
      display: block;
      width: 100%;
      box-shadow: $button-shadow;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      font-family: inherit;
      width: 100%;
    }
    label {
      font-family: inherit;
      color: $black;
      padding: 5px 0;
    }
  }
}
