// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$okon-light: #DACB88;
$okon-dark: #665525;
.status {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  transition-duration: 0.2s;
  padding: 20px 15px;
  border-left: 5px solid $okon-light;
  border-radius: 5px;
  margin: 7px;
  a {
    color: $okon-dark;
  }
  .meta {
    color: $okon-dark;
  }
}
.status.hover {
  -webkit-box-shadow: 0 0 15px 0 #D1D1D1;
  box-shadow: 0 0 15px 0 #D1D1D1;
}
.status .admin {
  display: none;
}
.status.hover .admin {
  display: inline;
}
.edit {
  border-top: 1px solid $okon-light;
  padding: 5px;
}
